:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin: 2em 2em 2em 2em;
  background-color: #FFF;
  
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.55rem;
}

ul,
li {
  margin: 0em 0em 0.5em 0.5em;
  padding: 0;
}

a {
  font-size: 1.1rem;
  line-height: 1.55rem;
  text-decoration: inherit;
}

.align-center {
  text-align: center;
}

.margin-top {
  margin: 5vh 0 0 0;
}

.margin-bot {
  margin: 0 0 5vh 0;
}

.text-gray {
  color: #4d535e;
}

@media (min-width: 1024px) {
  body {
      margin: 2em 10vw 2em 10vw;
  }
}

.text-white {
  color: white !important;
}

.self-bg-primary {
    background-color:#18345e;
  }

.navbar-dark .navbar-toggler {
    color: #f0ab20;
    border-color: rgba(255,255,255,.1);
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}