{% extends 'ssapp/base.html' %}
{% load static %}
{% block header_admin_course %} <span class="text-muted"> Course </span> {% endblock %}
    {% block body %}
   <div class="container py-2">
      <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5 mb-2">
        <h1 class="display-5 fw-bold">All Courses</h1>
            <img class="float-end" src="{% static 'images/undraw_accept_tasks_po1c.svg' %}" height="150px">
        <p class="col-md-8 fs-4 mb-4"> Manage Courses </p>
      </div>
      </div>

      </div>
      <div class="p-5">
          <h2 class="display-7 fw-bold"> Create Course </h2>
          <form id="create_course">
              {% csrf_token %}
              {{ form }} 
              <input type="submit" value="Submit" class="my-2 btn btn-outline-primary">
          </form>
      <h2 class="display-7 fw-bold">General Education Courses</h2>
      <p class="fs-4">Maximum: 30 Credits</p>
      {{ all_courses }}
      <table class="table">
          <tr>
              <th>CourseID</th>
              <th>CourseName</th>
              <th>Credits</th>
          </tr>
          <tr>
              <td>ENGL111</td>
              <td>English Composition I</td>
              <td>3</td>
          </tr>
      </table>
      </div>
    
        {% endblock %}
