{% extends 'ssapp/base.html' %}
{% load static %}
{% block html_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}
{% block header_admin_curriculum %} <span class="text-muted"> Curriculum </span> {% endblock %}
{% block body %}

    <div class="container py-2">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5 mb-2">
                <h1 class="display-5 fw-bold">{{ curriculum.name }}</h1>
                <img class="float-end" src="{% static 'images/undraw_accept_tasks_po1c.svg' %}" height="150px">
                <p class="col-md-8 fs-4 mb-4"> {{ curriculum.faculty.name }}, {{curriculum.total_credits }} credits </p>
            </div>
        </div>

    </div>
    <div class="p-5">
        <div class="mb-5">
            <h2 class="display-7 fw-bold">Add Courses</h2>
            <form id="add_course">
                {% csrf_token %}
                <select class="form-control" multiple id="id_courses" name="courses">
                    {% for option in difference_courses %}
                        <option value="{{ option.id }}">{{ option }}</option>
                    {% empty %}
                        <option>Empty</option>
                    {% endfor %}

                </select>
                <input type="submit" class="mt-2 btn btn-outline-primary" value="Add Course" /> 
            </form>
        </div>
        <h2 class="display-7 fw-bold my-2">General Education Courses</h2>
        <p class="fs-4">Maximum: 30 Credits</p>
        <div class="table-responsive">
            <table class="table table-hover" id="ge_courses">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th class="text-center">Credits</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ge_courses %}
                        {% for course in ge_courses %}
                            <tr>
                                <td><a href="{% url 'ssapp:admin_class' course.id %}" class="">{{ course.id }}</a></td>
                                <td>{{ course.name|truncatechars:30 }}</td>
                                <td class="text-center">{{ course.credits }}</td>
                                <td class="text-center"> <a href="{% url 'ssapp:drop_course_from_curriculum' curriculum.id course.id %}" class="text-danger"><i class="bi bi-trash"></i></a> </td>
                            </tr> 
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <h2 class="display-7 fw-bold mt-4">Professional Courses</h2>
        <p class="fs-4">Maximum: </p>
        <div class="table-responsive">
            <table class="table table-hover" id="professional_courses">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th class="text-center">Credits</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if pro_courses %}
                        {% for course in pro_courses %}
                            <tr>
                                <td><a href="{% url 'ssapp:admin_class' course.id %}">{{ course.id }}</a></td>
                                <td>{{ course.name|truncatechars:30 }}</td>
                                <td class="text-center">{{ course.credits }}</td>
                                <td class="text-center"> <a href="{% url 'ssapp:drop_course_from_curriculum' curriculum.id course.id %}" class="text-danger"><i class="bi bi-trash"></i></a> </td>
                            </tr> 
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
{% block script %}
    $('#add_course').submit(function (e) {
    let select = $("select").val()
    console.log(select);
    $("form").append(`<input type="hidden" name="courses" value=${select} multiple/>`)
    e.preventDefault();
    let url_mask = "{% url 'ssapp:admin_detail_curriculum' 12345 %}".replace(/12345/, {{ curriculum.id|safe }}); 
    var serializedData = $(this).serialize();
    $.ajax({
    type: 'POST',
    url: url_mask,
    data: serializedData,
    success: function (response) {
    $("#add_course").trigger('reset');
    $("#id_courses").focus();

    },
    error: function(response) {
    }

    })
    })






{% endblock %}
