<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'images/undraw_Loading_re_5axr.svg' %}">

        <!-- Bootstrap CSS -->
        {% block html_head %}
        {% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>{% block title %} Index{% endblock %} | Schedule Schemer </title>
        <style>

{% block style %}
{% endblock %}
        </style>
    </head>
    <body>
        <div class="container">
            <!-- Header -->   
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/ssapp" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img src="{% static '/images/aiu_nb_jlogo.png' %}" height="40px">
                </a>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    {% if request.user.username != 'admin' %}
                        <li><a href="{% url 'ssapp:index' %}" class="nav-link px-2 link-dark">{% block header_home %}Home {% endblock %}</a></li>
                        <li><a href="{% url 'ssapp:dashboard' %}" class="nav-link px-2 link-dark">{% block header_schedule %} Schedule {% endblock %}</a></li>
                        <li><a href="{% url 'ssapp:curriculum' %}" class="nav-link px-2 link-dark">{% block header_curr %} Curriculum {% endblock %}</a></li>
                    {% else %}
                        <li><a class="nav-link px-2 link-dark" href="{% url 'ssapp:admin_dashboard' %}">{% block header_admin_dashboard %} Dashboard {% endblock %}</a></li>
                        <li><a class="nav-link px-2 link-dark" href="{% url 'ssapp:admin_curriculum' %}">{% block header_admin_curr %} Curriculum {% endblock %}</a></li>
                        <li><a class="nav-link px-2 link-dark" href="{% url 'ssapp:admin_course' %}">{% block header_admin_course %} Course {% endblock %}</a></li>
                    {% endif %}
                </ul>

                <div class="col-md-3 text-end">
                    {% if user.is_authenticated %}
                        <a href="{% url 'ssapp:profile' request.user %}" class="btn {% block header_style_profile %}btn-outline-primary {% endblock %} me-2 mb-1" style="width: 6.5em !important"> Profile </a>
                        <a href="{% url 'logout' %}" class="btn me-2 mb-1 {% block header_style_signout %} btn-danger {% endblock %}" style="width: 6.5em !important">SIGN OUT</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary me-2 mb-1"  style="width: 5.8em !important">SIGN IN</a>
                        <a href="{% url 'ssapp:signup' %}" class="btn btn-outline-secondary me-2 mb-1 ">SIGN UP</a>

                    {% endif %}
                </div>
            </header>
        </div> 
        {# Alert #}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5;">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="{% static 'images/undraw_collecting_fjjl.svg' %}" width="30px" class="rounded me-2" alt="...">
                    <strong class="me-auto">{% block status %}<span id="status">Status</span>{% endblock %}</strong>
                    <small>Message</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {% block alert %} <span id="message">hello there</span> {% endblock %}
                </div>
            </div>
        </div>

        <div class="container container-fluid">
            {% block body %} Hello World
            {% endblock %}
        </div>
        {# Foot #}
        <div class="mt-4">
            <footer class="footer mt-auto py-3 bg-light">
                <div class="container text-center">
                    <span class="text-muted"> <a href="mailto:chanrose@pm.me"> Found Bug ? </a> <br />  Andreas - Broset - Bryan - Yilin <br /> Alright reserved 2021</span>
                </div>
            </footer>
        </div>
        {% block load_jquery %} <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script> 
        <script>
            const option_toast = 
                {
                    animation : true,
                    delay : 2000
                };

            function Toasty(status, message)
            {
                document.getElementById('status').innerHTML = status;
                document.getElementById('message').innerHTML = message; 
                var toastHTMLElement = document.getElementById( 'liveToast' ); 
                console.log(toastHTMLElement)
                var toastElement = new bootstrap.Toast( toastHTMLElement, option_toast ); 
                toastElement.show( );
            }


            {% block script %}
            {% endblock %}
        </script>

        {% if messages %}
            <script>
                {% for message in messages %}
                    Toasty("{{ message.tags }}", "{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
    </body>
</html>
