{% extends 'ssapp/base.html' %}
{% load static %}
{% block header_admin_course %} <span class="text-muted"> Course </span> {% endblock %}
{% block body %}
    <div class="container py-2">
        <div class="p-5 mb-2 bg-light rounded-3">
            <div class="container-fluid py-5 mb-2">
                <h1 class="display-5 fw-bold">Semester Courses</h1>
                <img class="float-end" src="{% static 'images/undraw_accept_tasks_po1c.svg' %}" height="150px">
                <p class="col-md-8 fs-4 mb-4"> Manage Courses </p>
            </div>
        </div>

    </div>
    <div class="p-5">
        <h2 class="display-7 fw-bold"> Enroll Courses </h2>
        <form id="enroll_course">
            {% csrf_token %}
            {{ form }} 
            <input type="submit" value="Enroll" class="my-2 btn btn-outline-primary">
        </form>
        <h2 class="display-7 fw-bold mt-5" >Enrolled Courses</h2>
        <table class="table" id="en_table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Credits</th>
            </tr>
            </thead>
            <tbody>
            {% for class in courses %}
                    <tr>
                        <td>{{ class.course.id }} </td>
                        <td>{{ class.course.name }}</td>
                        <td>{{ class.course.credits }}</td>
                   </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-end">Total Credits: </td>
                <td><b>{{ total }}</b></td>
            </tr>
            </tbody>
        </table>
       
    </div>
{% endblock %}
{% block script %}
    $('#enroll_course').submit(function (e) {
    e.preventDefault();
    var serializedData = $(this).serialize();
    $.ajax({
    type: 'POST',
    url: "{% url 'ssapp:course' %}",
    data: serializedData,
    success: function (response) {
    console.log(response);
    console.log("JSON", JSON.parse(response["instance"]));
    let instance = JSON.parse(response["instance"]);
    let curr = instance[0]["fields"];
    $(`table tbody`).append(
    `
    <tr>
        <td>${instance[0]["pk"]}</td>
        <td>${curr["name"]}</td>
        <td>${curr["credits"]}</td>
    </tr>
    `
    );

    },
    error: function(response) {
    console.log(response)
    }

    })
    })

{% endblock %}
