{% extends 'ssapp/base.html' %}
{% load static %}
{% block header_curr %} <span class="text-muted"> Curriculum </span> {% endblock %}
    {% block body %}
   <div class="container py-2">
      <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5 mb-2">
        <h1 class="display-5 fw-bold">Curriculum</h1>
            <img class="float-end" src="{% static 'images/undraw_accept_tasks_po1c.svg' %}" height="150px">
        <p class="col-md-8 fs-4 mb-4"> Bachelor of Information Technology </p>
      </div>
      </div>

      </div>
    
        {% endblock %}
