{% extends 'ssapp/base.html' %}

{% block body %}
   <main id="output"></main>
{% endblock %}


{% block script %}
    const WEEK = 'Mon Tue Wed Thu Fri'.split(' ')

    function Schedule ({days, hours}) {
    this.days = days;
    this.hours = hours;
    this.schedule = [];

    for (let x = 0; x < days.length; x++) {
          this.schedule[x] = [];
          for (let y = 0; y < hours.length; y++) {
          this.schedule[x][y] = undefined;
          }
          }

          this.addItem = (day, hour, item) => {
          const dayIndex = this.days.indexOf(day);
          if (dayIndex < 0) {
          console.log('invalid day');
          return;
          }

          const hourIndex = this.hours.indexOf(hour);
          if (hourIndex < 0) {
          return;
          }

          this.schedule[dayIndex][hourIndex] = item;
          }
          }

          function generateTable (timetable) {
          let thead = ''
          let tbody = ''

          thead += `<th>Day/Time</th>`
          for (const hr of timetable.hours) {
          thead += `<th>${hr} - ${hr}:50</th>`
          }

          for (let x = 0; x < timetable.days.length; x++) {
          tbody += `<tr> <td>${timetable.days[x]}</td>`

            for (let y = 0; y < timetable.hours.length; y++) {

          tbody += `<td> ${timetable.schedule[x][y] || ' '} </td>`
            }
          tbody += `</tr>`
          }
         
      return `<table class="table table-bordered table-hover text-center"><thead><tr>${thead}</tr><tbody>${tbody}</tbody></table>`
          }

          const example = new Schedule({
          days: WEEK,
          hours: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
          })
          let temp = ""
          let myObj = ""
          {% for class in class_list %}
              temp = "{{ class.daytime|safe }}";
              temp = temp.replace(/'/gi, '"')
              myObj = JSON.parse(temp);
              console.log(myObj);
              for (let x in myObj) {
              increase = Math.ceil(myObj[x][1] - myObj[x][0])
              start = myObj[x][0]
              for (let y = 0; y < increase; y++) {
                
              example.addItem(x, start++, "{{ class.id|safe}}")
              }
              }
          {% endfor %}

          output.innerHTML = generateTable(example)

      {% endblock %}
