{% extends 'ssapp/base.html' %}
{% block script %}
    {% for class in class_list %}
     console.log({{ class | safe }})
    {% endfor %}
{% endblock %}

{% block body %}
{{ class_list }}

    {% for class in class_list %}
    <li>{{  class.daytime }}</li>
    {% endfor %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Day/Time</th>
      <th scope="col">8-9</th>
      <th scope="col">9-10</th>
      <th scope="col">10-11</th>
      <th scope="col">11-12</th>
      <th scope="col">12-13</th>
      <th scope="col">13-14</th>
      <th scope="col">14-15</th>
      <th scope="col">15-16</th>
      <th scope="col">16-17</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
      <th scope="row">Friday</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endblock %}