{% extends 'ssapp/base.html' %}
{% load static %}
{% block header_home %} <span class="text-muted"> Home </span> {% endblock %}

{% block body %}
       <div class="container py-2">
      <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Schedule Schemer</h1>
        <p class="col-md-8 fs-4"> Generate your schedule at ease </p>
            <img class="float-end" src="{% static 'images/undraw_at_home_octe.svg' %}" height="80px">
      </div>
      </div>

      </div>

{% endblock %}


