{% extends 'ssapp/base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block header_style_profile %} btn btn-primary {% endblock %}
{% block header_style_signout %} btn-outline-danger {% endblock %}
{% block body %}
    <main>
  <div class="container py-2">
      <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5 mb-2">
          <h1 class="display-5 fw-bold"> {{ request.user }} {{ request.user.last_name }}</h1>

            <img class="float-end" src="{% static 'images/undraw_Growing_re_olpi.svg' %}" height="150px">
        <p class="col-md-6 fs-4 mb-4">Bachelor of Science in Information Technology</p>
      </div>
      </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Study Completion</h2>
          <ul>
              <li>CGPA: 3.50</li>
              <li>Accumulated Credits: 92</li>
              <li>Required Credits: 12</li>
              <li>Total Required Credits: 104</li>
          </ul>
          <button class="btn btn-outline-light mt-2" type="button">Open Curriculum</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Enrolled Classes:</h2>
          <ul class="list-group list-unstyled">
              {% for class in courses %}
                  <li>{{ class.course.id }} {{ class.course.name }}</li>
              {% empty %}
                  <li>
                  You haven't enroll in any courses yet!
                  </li>
              {% endfor %}
            </ul>
          <a class="btn btn-outline-dark mt-2" href="{% url 'ssapp:course' %}">Modify Classes</a>
        </div>
      </div>
    </div>

  </div>
</main>

    {% endblock %}
